version: "3.8"
services:
  db:
    image: postgres:18
    container_name: local_pgdb
    restart: always
    ports:
      - "54320:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: songify   # optional, creates a default DB
    volumes:
      - local_pgdata:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: jan@example.com
      PGADMIN_DEFAULT_PASSWORD: admin

volumes:
  local_pgdata:
